/* navigation  */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* home section  */
#home{
height: 370px;
padding: 3px 68px;

}
#home::before{
height: 480px;

}
#home p{
    font-size: 13px;
}
/* services section  */
 #services{
     flex-direction: column;

 }

 /* client section  */
 #client-section{
        
    height: auto;


}
 #client-section::before{
    content: "";
    position: absolute;
    background: url(../logo79.webp) no-repeat center center/cover;
    width: 100%;
    height: 7.5rem;
    z-index: -1;
    opacity: 0.4;    
}
 #clients{
     flex-wrap: wrap;
 }
 #clients img{
     height: 1.9rem;
     
    
 }
 .client-item{
    padding: 4px;
}
 /* contact us section   */
 #contact-box form{
    width: auto;
}
#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    background: url(../contact-us-2993000__480.webp)no-repeat center center/cover;
}

 /* footer  */
 /* utility classes  */
 .h-primary{
     font-size: 26px;
 }
 .btn{
     font-size: 13px;
     padding: 4px 8px;
 }
 .center1{
   align-items: center;
}